<% include partials/header %>
<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center justify-content-start">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<div>We Breathe Life</div>
								<div>Discover best breathing route</div>
								<div class="logo_image"><img src="/images/logo.png" alt=""></div>
							</div>
						</div>

						<!-- Main Navigation -->
						<nav class="main_nav ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item active"><a href="/">Home</a></li>
								<li class="main_nav_item"><a href="/aqi">AQI Map</a></li>
								<li class="main_nav_item"><a href="/about">About us</a></li>
								<li class="main_nav_item"><a href="/offers">Offers</a></li>
								<li class="main_nav_item"><a href="/news">News</a></li>
								<li class="main_nav_item"><a href="/contact">Contact</a></li>
							</ul>
						</nav>

						<!-- Search -->
						<div class="search">
							<form action="#" class="search_form">
								<input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
								<button type="submit" class="search_button ml-auto ctrl_class"><img src="/images/search.png" alt=""></button>
							</form>
						</div>

						<!-- Hamburger -->
						<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="/images/search_2.png" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="/">Home</a></li>
					<li class="menu_item menu_mm"><a href="/aqi">AQI Map</a></li>
					<li class="menu_item menu_mm"><a href="/about">About us</a></li>
					<li class="menu_item menu_mm"><a href="/offers">Offers</a></li>
					<li class="menu_item menu_mm"><a href="/news">News</a></li>
					<li class="menu_item menu_mm"><a href="/contact">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Shubham All rights reserved</div>
			</div>

		</div>

	</div>

<!-- Home -->
<div class="home">
  <div class="home_background" style="background-image:url(images/home.jpg)"></div>
  <div class="home_content">
    <div class="home_content_inner">
      <div class="home_text_large">Breathe</div>
      <div class="home_text_small">FRESHNESS ALL THE WAY</div>
    </div>
  </div>
</div>

<!-- Find Form -->

<div class="find">
  <div class="find_background parallax-window" data-parallax="scroll" data-image-src="images/find.jpg" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="find_title text-center">Find the safest route</div>
      </div>
      <div class="col-12">
        <div class="find_form_container">
          <form action="/addpoints" method="POST" id="find_form" class="find_form d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-between justify-content-start flex-wrap">
            <div class="find_item">
              <div>Source :</div>
              <input type="text" class="source find_input" id="start" name="sr" value="<%=from%>" required="required" placeholder="City name">
            </div>
            <div class="find_item">
              <div>Destination :</div>
              <input type="text" class="destination find_input" required="required" id="end" name="dn" placeholder="City Name" value="<%=to%>">
            </div>
            <div class="find_item">
              <div>Pollutant :</div>
              <select name="p" id="mode" class="dropdown_item_select find_input" required>
								<option value="">&nbsp;</option>
			          <option value="pm2.5">PM<span id="subscript">2.5</span></option>
			          <option value="pm10">PM<span id="subscript">10</span></option>
			          <option value="no2">NO<span id="subscript">2</span></option>
			          <option value="so2">SO<span id="subscript">2</span></option>
			          <option value="co">CO</option>
			          <option value="o3">O<span id="subscript">3</span></option>
              </select>
            </div>
            <button class="button find_button " type="submit" >Find</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Destinations -->

<div class="top">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h2>Top polluted cities in world</h2>
          <div>take a look at the danger we are heading to</div>
        </div>
      </div>
    </div>
    <div class="row top_content">

      <div class="col-lg-3 col-md-6 top_col">
        <div class="top_item">
          <a href="#">
            <div class="top_item_image"><img src="images/top_1.jpg" alt="https://unsplash.com/@sgabriel"></div>
            <div class="top_item_content">
              <div class="top_item_price">AQI 11</div>
              <div class="top_item_text">Kanpur, India</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 top_col">
        <div class="top_item">
          <a href="#">
            <div class="top_item_image"><img src="images/top_2.jpg" alt="https://unsplash.com/@jenspeter"></div>
            <div class="top_item_content">
              <div class="top_item_price">AQI 16</div>
              <div class="top_item_text">Faridabad, India</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 top_col">
        <div class="top_item">
          <a href="#">
            <div class="top_item_image"><img src="images/top_3.jpg" alt="https://unsplash.com/@anikindimitry"></div>
            <div class="top_item_content">
              <div class="top_item_price">AQI 14</div>
              <div class="top_item_text">Gaya, India</div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 top_col">
        <div class="top_item">
          <a href="#">
            <div class="top_item_image"><img src="images/top_4.jpg" alt="https://unsplash.com/@hellolightbulb"></div>
            <div class="top_item_content">
              <div class="top_item_price">AQI 5</div>
              <div class="top_item_text">Varanasi, India</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Last -->

<div class="last">
  <!-- Image by https://unsplash.com/@thanni -->
  <div class="last_background parallax-window" data-parallax="scroll" data-image-src="/images/last.jpg" data-speed="0.8"></div>

  <div class="container">
    <div class="row">
      <div class="last_logo"><img src="images/last_logo.png" alt=""></div>
      <div class="col-lg-6 last_col">
        <div class="last_item">
          <div class="last_item_content">
            <div class="last_subtitle">LG SIGNATURE</div>
            <div class="last_percent">40%</div>
            <div class="last_title">Off</div>
            <div class="last_text">The LG SIGNATURE Air Purifier is loaded with SmartThinQ™ and remote control technology. You can check indoor and outdoor air condition through your smart phone. The LG SIGNATURE air purifier is given with 10 years of Inverter motor warranty.</div>
            <div class="button last_button"><a href="/offers">See Offer</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 last_col">
        <div class="last_item">
          <div class="last_item_content">
            <div class="last_subtitle">	Avon M50</div>
            <div class="last_percent">32%</div>
            <div class="last_title">Off</div>
            <div class="last_text">Avon Protection is a world leader in Respiratory Protective Equipment (RPE), providing complete solutions for Air, Land and Sea based personnel in Military, Law Enforcement, First Responder community, Firefighting and Industrial sectors globally.</div>
            <div class="button last_button"><a href="/offers">See Offer</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Video -->

<div class="video_section d-flex flex-column align-items-center justify-content-center">
  <!-- Image by https://unsplash.com/@peecho -->
  <div class="video_background parallax-window" data-parallax="scroll" data-image-src="images/video.jpg" data-speed="0.8"></div>
  <div class="video_content">
    <div class="video_title">Closer view toward a serious problem</div>
    <div class="video_subtitle">A short documentary on air pollution</div>
    <div class=s"video_play">
      <a  class="video" href="https://www.youtube.com/watch?v=e6rglsLy1Ys">
        <svg version="1.1" id="Layer_1" class="play_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
          <g id="Layer_2">
            <circle class="play_circle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="70.333" cy="69.58" r="68.542"/>
            <polygon class="play_triangle" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" points="61.583,56 61.583,84.417 84.75,70 	"/>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- Special -->

<div class="special">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title text-center">
          <h2>Special Attention</h2>
          <div>have a look at these problems</div>
        </div>
      </div>
    </div>
  </div>
  <div class="special_content">
    <div class="special_slider_container">
      <div class="owl-carousel owl-theme special_slider">

        <!-- Special Offers Item -->
        <div class="owl-item">
          <div class="special_item">
            <div class="special_item_background"><img src="images/special_1.jpg" alt="https://unsplash.com/@garciasaldana_"></div>
            <div class="special_item_content text-center">
              <div class="special_category">Polluted</div>
              <div class="special_title"><a href="/news">Indonesia</a></div>
            </div>
          </div>
        </div>

        <!-- Special Offers Item -->
        <div class="owl-item">
          <div class="special_item d-flex flex-column align-items-center justify-content-center">
            <div class="special_item_background"><img src="images/special_2.jpg" alt="https://unsplash.com/@varshesh"></div>
            <div class="special_item_content text-center">
              <div class="special_category">Struggling</div>
              <div class="special_title"><a href="/news">India</a></div>
            </div>
          </div>
        </div>

        <!-- Special Offers Item -->
        <div class="owl-item">
          <div class="special_item d-flex flex-column align-items-center justify-content-center">
            <div class="special_item_background"><img src="images/special_3.jpg" alt="https://unsplash.com/@paulgilmore_"></div>
            <div class="special_item_content text-center">
              <div class="special_category">Coverd</div>
              <div class="special_title"><a href="/news">Thailand</a></div>
            </div>
          </div>
        </div>

        <!-- Special Offers Item -->
        <div class="owl-item">
          <div class="special_item d-flex flex-column align-items-center justify-content-center">
            <div class="special_item_background"><img src="images/special_4.jpg" alt="https://unsplash.com/@hellolightbulb"></div>
            <div class="special_item_content text-center">
              <div class="special_category">Smogy</div>
              <div class="special_title"><a href="/news">Bali</a></div>
            </div>
          </div>
        </div>

        <!-- Special Offers Item -->
        <div class="owl-item">
          <div class="special_item d-flex flex-column align-items-center justify-content-center">
            <div class="special_item_background"><img src="images/special_5.jpg" alt="https://unsplash.com/@dnevozhai"></div>
            <div class="special_item_content text-center">
              <div class="special_category">Fighting</div>
              <div class="special_title"><a href="/news">France</a></div>
            </div>
          </div>
        </div>

      </div>

      <div class="special_slider_nav d-flex flex-column align-items-center justify-content-center">
        <img src="images/special_slider.png" alt="">
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
